<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName">
			<value>oracle.jdbc.OracleDriver</value>
		</property>
		<property name="username">
			<value>zzs_user</value>
		</property>
		<property name="password">
			<value>zzs123</value>
		</property>
		<property name="url">
			<value>jdbc:oracle:thin:@10.156.14.77:1521:zzsst</value>
		</property>
	</bean>

	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<!-- 此处应注入ibatis配置文件，而非sqlMap文件，否则会出现“there is no statement.....异常” -->
		<property name="configLocation">
			<value>com/cjit/ws/service/config/sqlMapConfig.xml</value>
		</property>

	</bean>

	<bean id="VmsTransTypeBean" class="com.cjit.ws.dao.VmsTransTypeDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>

	<bean id="VmsCustomerInfoBean" class="com.cjit.ws.dao.VmsCustomerInfoDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>

	<bean id="VmsTransInfoBean" class="com.cjit.ws.dao.VmsTransInfoDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>

</beans>  