<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<bean id="costControlDao" class="com.cjit.webService.server.dao.impl.CostControlDaoImpl"
		parent="genericService"></bean>
	<bean id="CostControlService"
		class="com.cjit.webService.server.service.serviceImpl.CostControlServiceImpl">
		<property name="dao" ref="costControlDao" />
	</bean>

</beans>