<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="applicationContext"
		class="org.apache.axis2.extensions.spring.receivers.ApplicationContextHolder" />


	<bean id="vmsTransService" class="com.cjit.ws.service.impl.VMSTransServiceImpl">
		<property name="vmsTransTypeDao">
			<ref bean="VmsTransTypeBean" />
		</property>
		<property name="vmsCustomerInfoDao">
			<ref bean="VmsCustomerInfoBean" />
		</property>
		<property name="vmsTransInfoDao">
			<ref bean="VmsTransInfoBean" />
		</property>
	</bean>

	<bean id="VmsTransTypeBean" class="com.cjit.ws.dao.VmsTransTypeDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>

	<bean id="VmsCustomerInfoBean" class="com.cjit.ws.dao.VmsCustomerInfoDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>

	<bean id="VmsTransInfoBean" class="com.cjit.ws.dao.VmsTransInfoDaoImpl">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>
	<!-- 2018-07-09电票webservice新增 -->
	<bean id="vmsElectronWebService" class="com.cjit.ws.service.impl.VmsElectronWebServiceImp" parent="genericService">
		<property name="createBillServiceManual" ref="createBillServiceManual" />
		<property name="billValidationServices" ref="billValidationServices" />
		<property name="transactionTemplate" ref="cfaTransactionTemplate" />
		<property name="vmsTransTypeDao" ref="VmsTransTypeBean" />
		<property name="vmsCustomerInfoDao" ref="VmsCustomerInfoBean" />
		<property name="vmsTransInfoDao" ref="VmsTransInfoBean" />
		<property name="billTrackService" ref="billTrackService" />
		<property name="redReceiptApplyInfoService" ref="redReceiptApplyInfoService" />
		<property name="paramConfigVmssService" ref="paramConfigVmssService" />
		<property name="billIssueService" ref="billIssueService" />		<property name="billInfoService" ref="billInfoService" />
		<property name="transInfoService" ref="transInfoService" />
		<property name="billIssueDiskAssitService" ref="billIssueDiskAssitService" />	
	</bean>
	<!-- 2018-07-09电票webservice新增 -->
	<bean id="billValidationServices" class="com.cjit.vms.trans.service.createBill.impl.BillValidationServiceImpl" parent="genericService">
		<property name="customerService" ref="customerService"></property>
		<property name="createBillService" ref="createBillServiceManual"></property>
		<property name="organizationService" ref="organizationService"></property>
	</bean>
</beans>
