<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="stockService" class="com.cjit.vms.stock.service.impl.StockServiceImpl"
		parent="genericService" />
	<bean id="billInventoryAction" class="com.cjit.vms.stock.action.BillInventoryAction"
		scope="prototype">
		<property name="stockService" ref="stockService" />
	</bean>
	<bean id="billDistributeAction" class="com.cjit.vms.stock.action.BillDistributeAction"
		scope="prototype">
		<property name="stockService" ref="stockService" />
	</bean>
	<bean id="billLostRecycleAction" class="com.cjit.vms.stock.action.BillLostRecycleAction"
		scope="prototype">
		<property name="stockService" ref="stockService" />
	</bean>
	<bean id="billStatisticsAction" class="com.cjit.vms.stock.action.BillStatisticsAction"
		scope="prototype">
		<property name="stockService" ref="stockService" />
	</bean>
	<bean id="billPrintRecycleAction" class="com.cjit.vms.stock.action.BillPrintRecycleAction"
		scope="prototype">
		<property name="stockService" ref="stockService" />
	</bean>
</beans>